In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv("E:/Python/Data/iris.csv", na_values = ['NA','?'])
# shuffle lines
np.random.seed(12)
df = df.reindex(np.random.permutation(df.index))
df.reset_index(inplace=True, drop = True)
df[0:10]

   sepal_l  sepal_w  petal_l  petal_w          species
0      5.0      3.5      1.3      0.3      Iris-setosa
1      6.3      2.5      5.0      1.9   Iris-virginica
2      4.4      3.0      1.3      0.2      Iris-setosa
3      5.7      2.8      4.1      1.3  Iris-versicolor
4      6.8      3.2      5.9      2.3   Iris-virginica
5      6.5      3.0      5.5      1.8   Iris-virginica
6      6.2      3.4      5.4      2.3   Iris-virginica
7      5.1      3.4      1.5      0.2      Iris-setosa
8      7.7      3.0      6.1      2.3   Iris-virginica
9      5.1      3.3      1.7      0.5      Iris-setosa